# ==========================================
# VARIABLES DE ENTORNO - HORSETRUST (FRONTEND)
# ==========================================

# URL base de la API de backend (Ej: http://localhost:5000/api)
NEXT_PUBLIC_API_URL=

# Cloudinary 
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=di2agiylz
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=horse_trust_uploads